/******************************************************************************/
/*********************************** COLORS ***********************************/
/******************************************************************************/
:root {
  --color_dark: #8291A6;
  --color_light: #F9F9F9;
  --color_accent: #9CA4B5;
  --color_primary: #9ccad8;
  --color_text_dark: #2a333c;
  --color_text_light: #F9F9F9;
}

/****************/
/* END - COLORS */
/****************/
/******************************************************************************/
/***************************** WEBSITE STRUCTURE ******************************/
/******************************************************************************/
body {
  height: 100vh;
  overflow-x: hidden;
}

body,
.section_dark {
  background-color: var(--color_dark);
  color: var(--color_text_light);
}

.section_light {
  background-color: var(--color_light);
  color: var(--color_text_dark);
}

#ws_page {
  width: 100%;
  min-height: 100%;
  position: relative;
}

nav {
  width: 100%;
  height: auto;
  padding: 1rem 0 1rem 0;
  background-color: #ABAEB1;
  color: var(--color_primary);
  font-weight: bold;
  font-family: sans-serif;
}

.seperator {
  width: 100%;
  height: 0.25rem;
  background-color: var(--color_primary);
}

main {
  width: 100%;
  padding-bottom: 6rem;
}

footer {
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  padding: 1rem 0 1rem 0;
  text-align: center;
  background-color: var(--color_primary);
}

.content {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

@media (min-width: 631.5px) {
  .halfContentWidth {
    width: 600px;
    margin: auto;
  }
}
@media (min-width: 947.25px) {
  .twoThirdContentWidth {
    width: 900px;
    margin: auto;
  }
}
/**************************/
/* END - WEBSITE STUCTURE */
/**************************/
/******************************************************************************/
/************************************ FONT ************************************/
/******************************************************************************/
html {
  /* fallback */
  font-size: 19px;
  font-size: 1.6vw;
  line-height: 1.5rem;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1375px) {
  html {
    font-size: 22px;
  }
}
p, a, h1, h2, h3, h4, h5, h6,
ul, ol, table {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px dashed;
}

h1 {
  font-size: 2rem;
  margin: 1.5rem 0 1.25rem 0;
}

h2 {
  font-size: 1.75rem;
  margin: 1.25rem 0 1rem 0;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

h4 {
  font-size: 1.25rem;
  text-decoration: underline;
  margin: 1rem 0 0.75rem 0;
}

h5 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.75rem 0 0.5rem 0;
}

h6 {
  font-size: 1rem;
  text-decoration: underline;
  margin: 0.75rem 0 0.5rem 0;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

main {
  text-align: center;
}

footer {
  color: lightgray;
}

.noWrap {
  white-space: nowrap;
}

.wrap {
  white-space: normal;
}

input {
  font-size: 0.8rem;
  line-height: 1.25rem;
}

/**************/
/* END - FONT */
/**************/
/******************************************************************************/
/****************************** CONTENT DIVIDER *******************************/
/******************************************************************************/
.content_divider_begin {
  width: 100%;
  height: 1rem;
  margin-top: calc(1rem + 3vw);
  position: relative;
}

.content_divider_begin::before {
  content: "";
  width: 100%;
  height: 3vw;
  position: absolute;
  bottom: 1rem;
  left: 0;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.content_divider_end {
  width: 100%;
  height: 1rem;
  margin-bottom: calc(1rem + 3vw);
  position: relative;
}

.content_divider_end::after {
  content: "";
  width: 100%;
  height: 3vw;
  position: absolute;
  top: 1rem;
  left: 0;
  clip-path: polygon(100% 0, 0 100%, 0 0);
}

.content_divider_dark,
.content_divider_dark::before,
.content_divider_dark::after {
  background-color: var(--color_dark);
}

.content_divider_light,
.content_divider_light::before,
.content_divider_light::after {
  background-color: var(--color_light);
}

/*************************/
/* END - CONTENT DIVIDER */
/*************************/
/******************************************************************************/
/*********************************** LISTS ************************************/
/******************************************************************************/
ul {
  list-style: disc;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

ol {
  list-style: decimal;
  line-height: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 2rem;
}

/***************/
/* END - LISTS */
/***************/
/******************************************************************************/
/*********************************** TABLES ***********************************/
/******************************************************************************/
.tableContainer {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.25rem 0.5rem;
}

thead tr,
.section_dark thead tr {
  background-color: var(--color_accent);
}

tfoot tr,
.section_dark tfoot tr {
  background-color: var(--color_accent);
}

th,
.section_dark th {
  font-weight: bold;
  color: var(--color_text_light);
}

td,
.section_dark td {
  color: var(--color_text_dark);
  background-color: var(--color_light);
}

thead th {
  padding: 0.5rem 0.75rem;
  text-align: center;
}

.table_allborder th, .table_allborder td {
  border: 1px solid black;
}

.table_vlines th {
  border-left: 1px solid var(--color_light);
}
.table_vlines td {
  border-left: 1px solid var(--color_accent);
}
.table_vlines th:first-of-type,
.table_vlines td:first-of-type {
  border-left: 0;
}

tr .minWidth {
  width: 0;
}

tr + .right > th,
tr + .right > td {
  text-align: right;
}

tr + .center > th,
tr + .center > td {
  text-align: center;
}

tr + .left > th,
tr + .left > td {
  text-align: left;
}

th + .left,
td + .left,
tr + .center > .left,
tr + .right > .left {
  text-align: left;
}

th + .center,
td + .center,
tr + .left > .center,
tr + .right > .center {
  text-align: center;
}

th + .right,
td + .right,
tr + .left > .right,
tr + .center > .right {
  text-align: right;
}

/* TABLES IN FORMS */
form table th,
form table td {
  border: 0;
}

/****************/
/* END - TABLES */
/****************/
/******************************************************************************/
/******************************** PRODUCT PAGE ********************************/
/******************************************************************************/
.product_wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "img title" "img desc" "img cart";
  padding: 1rem 0;
}

@media (max-width: 719px) {
  .product_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "title" "img" "cart";
  }

  .product_description {
    display: none;
  }
}
.product_image {
  grid-area: img;
  box-shadow: 0 0 5px 3px rgba(52, 63, 62, 0.2);
}

.product_title {
  grid-area: title;
  padding: 0 1rem;
}

.product_description .container {
  border-radius: 0.5rem;
  background-color: var(--color_accent);
}

.product_description b {
  color: var(--color_primary);
  text-shadow: 0 0 3px var(--color_dark);
}

.product_description {
  grid-area: desc;
  padding: 0 1rem;
}

.product_cart {
  grid-area: cart;
  padding: 0 1rem;
}

/**********************/
/* END - PRODUCT PAGE */
/**********************/
input {
  width: 100%;
}

img {
  max-width: 100%;
}

/****/
/*  */
/****/

/*# sourceMappingURL=master.css.map */
